<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dfipoufmj/image/upload/v1669383011/Pngtree_vector_yurt_icon_4015691_qc44ma.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Our Design", "/product", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a href="#section05" class="nav-link"><span></span>Home</a>
            <%# <%= link_to "About Us", "/about", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Gallery", "/gallery", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "/contact", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
